<div class="toolbar"></div>
<div class="table-responsive">
    <table id="tableOverView"></table>
    <table id="tableByAvgPrice"></table>
</div>
<canvas id="doughnut"></canvas>
<canvas id="bar" class="d-none d-lg-block"></canvas>

<script src="/js/dashboard.js"></script>