<section class="jumbotron text-center mt-4">
  <i class="fas fa-search-dollar fa-10x"></i>
  <h1 class="jumbotron-heading">Welcome to Akountin!</h1>
  <%- include ('./partials/messages') %>
  <p>Designed by Bleu(Jia-Huei Ren)</p>
</section>

